openapi: 3.0.0
info:
  title: Qodana Cloud Public API
  version: 0.0.1
  description: API for managing organizations, users, teams, and project tokens in Qodana Cloud.
  contact:
    name: todo qodana support
    email: todo qodana support email
    url: todo qodana contact url
  license:
    name: todo
    url: todo

servers:
  - url: https://qodana.cloud/
    description: Qodana Cloud PROD

security:
  - BearerAuth: []

tags:
  - name: Users
    description: Operations related to organization users
  - name: Projects
    description: Operations for managing project tokens

paths:
  /api/v1/public/organizations/users/:
    get:
      tags:
        - Users
      summary: List organization users
      operationId: listOrganizationUsers
      description: Returns paginated list of users in the organization. Supports sorting and searching.
      parameters:
        - name: order
          in: query
          description: Sorting order for results (`ASC` or `DESC`)
          required: false
          schema:
            type: string
            enum: [ASC, DESC]
            example: ASC
        - name: search
          in: query
          description: Filter users by name or email
          required: false
          schema:
            type: string
            example: alice@example.com
        - name: offset
          in: query
          description: Number of users to skip before starting to collect the result set (for pagination)
          required: false
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: Maximum number of users to return in the result set
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paginated list of organization users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedList_OrganizationUser'
              example:
                count: 2
                next: null
                prev: null
                items:
                  - id: "user-123"
                    displayName: "Alice"
                    email: "alice@example.com"
                    role: ADMIN
                    isActive: true
                    isSsoManaged: false
                    invitationId: null
                    invitationUrl: null
                  - id: "user-456"
                    displayName: "Bob"
                    email: "bob@example.com"
                    role: VIEWER
                    isActive: true
                    isSsoManaged: true
                    invitationId: null
                    invitationUrl: null
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/v1/public/organizations/teams/projects/:
    post:
      tags:
        - Projects
      summary: Project token legacy endpoint
      operationId: getOrCreateProjectTokenLegacy
      description: |-
        DEPRECATED: Use `/api/v1/public/organizations/projects/` instead. 
        Returns or creates project token for a project of a team. If the team or project does not exist, they will be created automatically.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTokenRequest'
            example:
              projectName: "my-legacy-project"
              teamName: "legacy-team"
      responses:
        '200':
          description: Project token for existing project
          content:
            text/plain:
              schema:
                type: string
                example: abc123xyz
        '201':
          description: Project token for newly created project
          content:
            text/plain:
              schema:
                type: string
                example: abc123xyz
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/v1/public/organizations/projects/:
    post:
      tags:
        - Projects
      summary: Project token endpoint
      operationId: getOrCreateProjectToken
      description: Returns the project token for the specified team. If the team or project does not exist, they will be created automatically.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectTokenRequest'
            example:
              projectName: "new-project"
              teamName: "dev-team"
      responses:
        '200':
          description: Project token for existing project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTokenResponse'
        '201':
          description: Project token for newly created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    OrganizationUser:
      type: object
      description: An organization user
      properties:
        id:
          type: string
          description: User identifier
        email:
          type: string
          nullable: true
          description: User email address
        displayName:
          type: string
          description: Display name of the user
        role:
          type: string
          nullable: true
          description: Role in the organization
          enum:
            - OWNER
            - ADMIN
            - EDITOR
            - VIEWER
        isActive:
          type: boolean
          description: Whether the user is active
        isSsoManaged:
          type: boolean
          description: Whether the user is managed via SSO
        invitationId:
          type: string
          nullable: true
          description: Invitation identifier if invited
        invitationUrl:
          type: string
          nullable: true
          description: URL to accept invitation
      required:
        - id
        - displayName
        - isActive
        - isSsoManaged

    PaginatedList_OrganizationUser:
      type: object
      description: List for organization users
      properties:
        count:
          type: integer
          format: int64
          description: Total number of users existing in the organizaion
        next:
          type: integer
          format: int64
          nullable: true
          description: Value of 'offset' parameter for retrieval of next page
        prev:
          type: integer
          format: int64
          nullable: true
          description: Value of 'offset' parameter for retrieval of previous page
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUser'
      required:
        - count
        - items

    ProjectTokenRequest:
      type: object
      description: Request to obtain or create project token
      properties:
        projectName:
          type: string
          description: Name of the project for which the token is requested
          example: new project
        teamName:
          type: string
          description: Name of the team the project belongs to
          example: my team
      required:
        - projectName
        - teamName

    ProjectTokenResponse:
      type: object
      description: Response containing a project token
      properties:
        projectToken:
          type: string
          description: Token of the project associated with the specified team and project
          example: abc123xyz
      required:
        - projectToken

    APIError:
      type: object
      description: Error response, see 'name' property for details
      properties:
        name:
          type: string
          description: Nature of error
          enum:
            - NO_LICENSE_AGREEMENT
            - USER_DELETED
            - NO_CREDENTIALS_PROVIDED
            - VALIDATION_FAILED
            - INVITE_OR_MEMBERSHIP_REQUEST
            - PROJECT_EXISTS
            - TEAM_EXISTS
            - LICENSE_ISSUING_FAILED
            - LICENSE_ISSUING_TIMEOUT
            - LICENSE_NOT_FOUND
            - INVALID_TOKEN
            - USER_NOT_MEMBER
            - USER_INVITATION_NOT_ACCEPTED
            - SINGLE_ORGANIZATIONS_OWNER
            - NO_AUTH
            - TEAMS_MISSING
            - NO_PERMISSION
            - NO_LICENSE_PLAN
            - FEATURE_NOT_SUPPORTED
            - NO_LICENSE
            - NO_USER
            - USER_EXISTS
            - LICENSE_ACCEPTED
            - NO_JBA_USER
            - INVITATION_NOT_CREATED
            - ORGANIZATION_ROLE_EXISTS
            - NO_ORGANIZATION
            - INVITATION_EXPIRED
            - FAILED_EMAIL_SENDING
            - NO_TEAM
            - TEAM_ROLE_EXISTS
            - NO_TEAM_USER_EXISTS
            - NO_REPORT
            - REPORT_UNAVAILABLE
            - NO_MEMBERSHIP_REQUEST_EXISTS
            - PROBE_REPOSITORY_FAILED
            - NO_PROJECT
            - PROJECT_CONTRIBUTORS_DELETE_FAILURE
            - LICENSE_ALREADY_ISSUED
            - BAD_TOKEN
            - BAD_CREDENTIALS
            - NO_USER_TOKEN
            - OAUTH_REFRESH_TOKENS_ERROR
            - OAUTH_FETCH_MANAGED_CUSTOMERS_ERROR
            - LICENSE_ALREADY_EXISTS
            - NO_HTTPS_OR_SSH_URL
            - NO_TOKEN
            - NO_FILTER_SELECTION
            - WRONG_STATE
            - USER_NOT_LICENSE_OWNER
            - LICENSE_ERROR
            - ONE_TRIAL_LICENSE_IS_ALLOWED_ERROR
            - NO_REPOSITORY
            - JBA_LICENSE_INVITATION_NOT_FOUND
            - LICENSE_ALREADY_IN_USE
            - UNKNOWN
            - NO_SSH_KEY
            - OWNER_ROLE_CANT_BE_CHANGED
            - TABLE_SIGNATURE_UNVERIFIED
            - BROKEN_SIGNATURE_FORMAT
            - CREATE_REPOSITORY_FAILED
            - GITHUB_JWT_GENERATION_FAILED
            - EXTERNAL_SERVICE_REQUEST_FAILED
            - CI_INTEGRATION_NOT_FOUND
            - CI_INTEGRATION_ALREADY_EXISTS
            - VCS_INTEGRATION_NOT_FOUND
            - VCS_PROBING_NOT_PASSED
            - VCS_INTEGRATION_ALREADY_EXISTS
            - GITHUB_INSTALLATION_NOT_EXISTS
            - UNKNOWN_VCS_LOGIN_STATE
            - UNKNOWN_VCS_SETUP_ACTION
            - FORBIDDEN_BASELINE
            - MISSING_BRANCH_PARAM
            - BASELINE_NOT_FOUND
            - INVALID_ROLE
            - NO_ORGANIZATION_API_TOKEN_EXISTS
            - ORGANIZATION_API_TOKEN_ALREADY_EXISTS
            - PROJECT_TOKEN_CREATION_FAILED
            - TOKEN_ALREADY_EXISTS
            - GLOBAL_CONFIGURATION_NOT_FOUND
            - PUBLIC_API_DISABLED
            - TOO_MANY_PROJECTS_FOR_ORGANIZATION
        details:
          type: string
          description: Human-readable details of the error
      required:
        - name
        - details

  responses:
    BadRequestError:
      description: Bad request syntax or invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    UnauthorizedError:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    ForbiddenError:
      description: Not allowed to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIError'
